.mybgcell1 {
    background-color: rgb(219, 219, 255);
}

.mybgcell2 {

    background-color: rgb(237, 249, 249);
}

.mybgcell3 {
    background-color: rgb(254, 240, 255);
}

.mybgcell4 {
    background-color: rgb(233, 245, 220);
}